<!DOCTYPE html>
<html lang="en">
<%- include("./particials/head.ejs") %>
<body>
    <%- include("./particials/header.ejs") %>
    <div class="cont">
        <h2><%=title%></h2>
        <p>
            Viber: +482281488
        </p>
        <img src="/images/CYus69CVtD8.jpg" alt="">
    </div>
</body>
</html>