<!DOCTYPE html>
<html lang="en">
<%- include("./particials/head.ejs") %>
<body>
    <%- include("./particials/header.ejs") %>
    <div class="about">
        <h2><%=title%> page</h2>
        <p>
            Our project is a minimalistic web store that allowed you to by the most unexpected and random things ever.
            Feel free to visit out catalog page to explore things that we are available right now.
        </p>
    </div>
</body>
</html>