<header>
    
    <div class="top">
        <h1>
            Things.
        </h1>
        <p>something that you didn't ask for</p>
    </div>
    <nav>
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/catalog">Catalog</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </nav>
</header>